<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Books And Writing | BOUT Valentin</title>

    <meta name="description" content="These website is a presentation of the books and articles that I read or writes. Enjoy it !" />

	  <meta property="og:url" content="https://books.boutvalentin.com">
	  <meta property="og:title" content="Books And Writing | BOUT Valentin" />
	  <meta property="og:description" content="These website is a presentation of the books and articles that I read or writes. Enjoy it !" />
	  <meta property="og:image" content="<%= BASE_URL %>favicon.ico" />
	  <meta property="og:type" content="website" />

	  <meta name="twitter:card" content="summary_large_image">
	  <meta property="twitter:domain" content="books.boutvalentin.com">
	  <meta property="twitter:url" content="https://books.boutvalentin.com">
	  <meta name="twitter:title" content="Books And Writing | BOUT Valentin">
	  <meta name="twitter:description" content="These website is a presentation of the books and articles that I read or writes. Enjoy it !">
	  <meta name="twitter:image" content="<%= BASE_URL %>favicon.ico">

    <meta name="theme-color" content="#131319">
	  <link rel="preconnect" href="https://fonts.gstatic.com">
	  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 
	  <link rel="preconnect" href="https://fonts.gstatic.com">
	  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&  display=swap" rel="stylesheet"> 
	  <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
	  <link rel='icon' type='image/svg' href='/images/favicon.svg'>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
