<template>
    <h1>
        {{titlepUpper}}
    </h1>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: "Title",
    props: {
        title: {
            type: String,
            required: true
        }
    },
    computed: {
        titlepUpper(): string {
            return this.title.toUpperCase()
        }
    }
})
</script>

<style lang="scss" scoped>
    h1 {
        font-size: min(35px, 7vmin);
        font-weight: 600;
    }
</style>
