<template>
    <div class="container" :class="direction" >
        <slot></slot>
        <p v-html="text"></p>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: "DescriptionContainer",
    props: {
        text: String,
        direction: {
            default: 'row',
            type: String
        }
    }
})
</script>
