<template>
    <div class="container">
        <section-title title="I LOVE BIT"></section-title>
        <description-container text="Bonjour a tous">
            <books></books>
        </description-container>
        <description-container text="Bonjour a tous" direction='row-reverse' >
            <papyrus></papyrus>
        </description-container>
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Papyrus from '@/components/ReadingAndWriting/Papyrus.vue';
import Books from '@/components/ReadingAndWriting/Books.vue';
import DescriptionContainer from '@/components/ReadingAndWriting/DescriptionContainer.vue';
import SectionTitle from "../global/SectionTitle.vue";

export default defineComponent({
  name: "ReadingAndWriting",
  components: {
      Papyrus, 
      Books,
      DescriptionContainer,
    SectionTitle
  }
});

</script>

<style lang="scss" scoped>

</style>