<template>
    <div class="sign-up__container">
        <p>Log In</p>
        <form @submit.prevent="handleSubmit">
            <div class="input__container">
                <label for="username">Username</label>
                <input v-model="username" type="text" name="username" placeholder="boutvalentin"/>
                <p class="error_paragraph" v-if="username_error" >{{username_error}}</p>
            </div>
            <div class="input__container">
                <label for="password">Password</label>
                <div class="input__container__icon">
                    <no-eyes v-if="show_password" @click="showPassword" class="icon"></no-eyes>
                    <eyes v-else @click="showPassword" class="icon"></eyes>
                    <input v-model="password" :type="show_password ? 'text' : 'password'" name="password" placeholder="Password"/>
                </div>
                <p class="error_paragraph"  v-if="password_error">{{password_error}}</p>
            </div>
            <div class="input__container">
                <p class="error_paragraph" v-if="global_error">{{global_error}}</p>
                <input type="submit" value="Se connecter"/>
            </div>
        </form>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Eyes from './Eyes.vue'
import NoEyes from './NoEyes.vue'

export default defineComponent({
    name: "SignUpFormComponents",
    components: { Eyes, NoEyes },
    data() {
        return {
            username: '',
            username_error: '',
            password: '',
            password_error: '',
            global_error:'',
            iconEyes: 'icon-eyes',
            iconNoEyes: 'icon-no-eyes',
            show_password: false,
        }
    },
    methods: {
        checkInput() {
            let isGood = true;
            if (!this.username) {
                this.username_error = "Please provide a username";
                isGood = false;
            }
            if (!this.password) {
                this.password_error = "Please provide a password";
                isGood = false;
            }

            return isGood;
        },
        async handleSubmit() {
            if (!this.checkInput()) return;

            //TODO CHECK IF EXIST PROPERTY
            const body = JSON.stringify({
                    username: this.username,
                    password: this.password,
                })
            const reponse = await fetch(`${process.env.VUE_APP_API_URL}api/auth/signin`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body
            })
            if (reponse.status === 401) {
                this.global_error = 'Password or username incorrect';
                return;
            }
            if (reponse.status >=400) {
                this.global_error = "An error append ! Try again";
                return;
            }
            const message = await reponse.json();
            sessionStorage.setItem('token', message?.accessToken || '');
            this.$router.push({name: "Bookseller Administration"})
        },
        showPassword() {
            this.show_password = !this.show_password
        }
    }
})
</script>

<style lang="scss" scoped>
    .sign-up__container {
        height: auto;
        max-width: min(500px, 100%);
        margin: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--main-bg-color);
        box-shadow: var(--log-in-shadow);
        color: var(--main-font-color);
        border-radius: 10px;
        font-size: 1.1em;

        p {
            padding: 0.3em;
            margin: 0.4em auto;
            font-size: 1.4em;
            font-weight: 600;
            text-transform: uppercase;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--main-font-color);
            padding: 5px;
            max-width: 100%;

            .input__container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0.8em auto;
                max-width: 100%;

                .input__container__icon {
                    display: flex;
                    position: relative;
                    max-width: 100%;
                    .icon {
                        position: absolute;
                        opacity: 0.5;
                        padding: 7px;
                        height: 35px;
                        width: 35px;
                        right: 0;
                        transition: all 0.3s ease;
                        cursor: pointer;
                    }

                    .icon:hover {
                        opacity: 1;
                    }
                }
                
                label {
                    color: var(--main-font-color-05);
                    padding: 0;
                    margin: 0.2em 0;
                }

                input::placeholder {
                    color: var(--main-font-color-05);
                 }

                input, input:focus, input:focus-visible, input:active {
                    background: none;
                    flex-grow: 0;
                    border: none;
                    border-bottom: 1px solid var(--main-font-color-05);
                    outline: none;
                    transition: all 0.3s ease;
                    padding: 10px 35px 10px 10px;
                    min-width: 0px;
                    color: var(--main-font-color);
                }

                input:focus, input:active {
                    border-bottom: 1px solid var(--main-font-color);
                }

                input[type="submit"] {
                    color: var(--main-bg-color);
                    background-color: var(--main-font-color);
                    max-width: 200px;
                    font-size: 0.9em;
                    padding: 0.8em 1em;
                    border-radius: 5px;
                    margin: 1em auto;
                    font-weight: 600;
                    box-shadow: var(--log-in-shadow);
                    cursor: pointer;
                }

                input[type="submit"]:active {
                    transform: scale(0.95);
                    box-shadow: none;
                }

                .error_paragraph {
                    color: var(--main-accent-color-1);
                    font-size: 0.9em;
                    margin: 0.4em auto -0.2em;
                    padding: 0;
                }
            }
        }
    }
</style>
