<template>
    <sign-up/>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import SignUp from '../components/Sign/SignUp.vue'

export default defineComponent({
    name: "SignUpView",
    components: { SignUp },
    beforeRouteEnter(to, from , next) {
        console.log('bonjour')
        next( vueInstance=> {
            console.log(vueInstance);
        })
    }

})
</script>

<style lang="scss" scoped>

</style>
